html{
    font-size: 10px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 800px;
    height: 200px;
    border: 2px solid red;
    color: grey;
    font-size: 6rem;
}
.main{
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: 400px;
    border: 2px solid orange;
}
.main_left{
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    width: 100px;
    height: 400px;
    border: 2px solid orange;
    color: grey;
    font-size: 6rem;
}
.main_right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 400px;
    border: 2px solid orange;
    color: grey;
    font-size: 6rem;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 800px;
    height: 200px;
    border: 2px solid grey;
    color: grey;
    font-size: 6rem;
}